<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- {{js表达式}} -->
    <div id="app">
        <h3>1、{{msg}}双大括号输出文本内容</h3>
        <p>{{msg}}</p>
        <p>{{score + 1 }}</p>
        <h3>2、一次性插值 v-once</h3>
        <p v-once>{{msg}}</p>
        <input type="text" v-model="msg">
        <h3>3、html渲染 v-html</h3>
        <p>双大括号{{contentHtml}}</p>
        <span v-html="contentHtml"></span>
        <h3>4、元素绑定指令 v-bind</h3>
        <img v-bind:src="imgUrl" alt="">
        <img :src="imgUrl" alt="">
        <a :href="jump">跳转</a>
        <h3>5、事件绑定 v-on</h3>
        <input type="text" value="1" v-model="num">
        <button v-on:click="add">点击加1</button>
        <button @click="add">点击加1</button>
    </div>
    <script src="./node_modules/vue/dist/vue.js "></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            msg:"hahahha",
            score: 100,
            contentHtml : "<span style='color:red'>红色字体内容</span>",
            imgUrl: "https://cn.vuejs.org/images/logo.png",
            jump: "https://www.baidu.com",
            num: 1
        },
        methods: {
            add: function () {
                this.num ++ ;
            }
        }
    });
    </script>
</body>
</html>